@import './Variables.scss';
@import './Default.scss';
@import './Components/Navigation/Navigation.scss';
@import './Components/LeftSidebar/LeftSidebar.scss';
@import './Components/Content/Content.scss';
@import './Components/ArticleSkeleton/ArticleSkeleton.scss';
@import './Components/ArticleComponent/ArticleComponent.scss';
@import './Components/RightSidebar/RightSidebar.scss';
@import './Components/CardComponent/CardComponent.scss';
@import './MediaQueries.scss';
@import './Components/ArticleComponent2/ArticleComponent2.scss'