@media only screen and (max-width:1024px) {
    .Header {
        padding: 1rem;
    }
    .Main-Container {
        grid-template-columns: 2fr 5fr;
        padding: 1rem;
        .RightBar {
            display: none;
        }
    }
}

@media only screen and (max-width:768px) {
    .Main-Container {
        grid-template-columns: 100%;
        padding: 1rem;
    }
    .Header .Header-Container {
        &-HamburgerMenu {
            display: block;
        }
        &-SearchBox {
            display: none;
        }
        &-RightSide {
            .Hidden-Search {
                display: flex;
            }
            button {
                display: none;
            }
        }
    }
    .LeftBar {
        display: none;
    }
}

@media only screen and (max-width:640px) {
    .Main-Content {
        header {
            nav {
                display: none;
            }
            select {
                display: block;
            }
        }
    }
    .Hidden-Mobile {
        display: none;
    }
    .Show-Mobile {
        display: inline-block;
    }
    .Header .dropdown-menu {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 0.5rem;
        ul li {
            padding: 1rem;
        }
    }
}